@model IEnumerable<EF_CRUD.Models.Customer>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">IT'S EF CRUD TIME!!!</h1>
    
</div>
<div><p><a asp-action="Create">Add Customer</a></p></div>
<div>Delete Customer

</div>
<div>Update Customer

</div>
<div>Find Customer

</div>
<div>Show Customer by Filter

</div>

